.m_b6d8b162 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background-color: var(--mantine-color-body);
}

html, #__next {
  height: 100%;
}
